{% extends "BlogBundle::layout.html.twig" %}

{% block content %}
    <div class="col-lg-6">
        <h2>Añadir Etiquetas</h2>
        {% for message in app.session.flashbag().get("status") %}
            <dvi class="alert alert-{{ app.session.flashbag().get("messagebox")[0] }}">{{ message }}</dvi>
        {% endfor %}
        {{ form_start(form) }}
        {{  form_end(form) }}
    </div>
    <div class="clearfix"></div>
{% endblock %}


